@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(66, 55, 51);
}
:root {
    --cor01 : #7c6259;
    --cor02 : #8F817C;
    --cor03 : #a07f74;
    --cor04 : #6e595296;
    --cor05 : #a07f74;
    --cor06 : #52413b;
}
nav {
    background-color: rgb(53, 44, 41);
    padding-top: 10px;
    padding: 10px;
    font-size: large;
    font-weight: 200;
    text-align: right;
    margin: -2px -6px -10px auto;
    transition-duration: 0.5s;
    margin-bottom: 20px;
    min-width: 200px;
    
}
.logo {
    display: block;
    text-align: left;
    margin-left: 10px;
    margin-top: -20px;
    height: 35px;
    width: 35px;
}
nav a { 
    margin-right: -4px;
    padding: 30px;
    text-decoration: none;
    color: var(--cor01);
}
nav a:hover {
    padding-bottom: 25px;
    color: rgb(87, 72, 67);
    transition-duration: 0.7s;
}
p {
    text-align: justify;
    text-indent: 30px;
}
.titulo-principal {
    text-align: center;
    color: var(--cor01);
    text-shadow: 2px 2px 5px rgb(75, 59, 52);
    border-top-left-radius: 20px;
    background-color: rgb(53, 44, 41);
    width: auto;
    padding: 10px;
    margin-bottom: 20px;
}
h1 {
    margin-top: 20px;
    text-align: center;
    padding-bottom: 15px;
}
h2 {
    text-align: center;
    color: var(--cor01);
    font-size: 1.3em;
}
.links p{
    text-align: center;
    font-size: 1.1em;
    padding: 12px;
    margin-right: 25px;
   
}
.links a:hover {
    background-color: var(--cor01);
    color: var(--cor06);
    padding: 11px;
    border-radius: 6px;
    box-shadow: 2px 2px 6px var(--cor01);
    transition-duration: 0.2s;
}
.links a{
    text-decoration: none;
    color: #241d1b;
    font-weight: 400;
    transition-duration: 0.5s;
}
main {
    background-color: var(--cor02);
    width: 50%;
    max-width: 670px;
    min-width: 400px;
    margin: auto;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.253);
}
.foto {
    display: block;
    margin: auto;
    text-align: center;
    width: 150px;
    border-radius: 20px;    

}
main p {
    padding: 0 20px 20px 20px;
    color: #241d1b;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.7;
    

}
footer {
    background-color: rgb(53, 44, 41);
    margin-top: 720px;
}
footer p {
    padding: 20px;
    text-align: center;
    color: var(--cor01);
}
.contato img{
    width: 30px;
    height: 30px;
    margin: 20px;
    display: block;
    text-align: left;
}
.contato a {
    text-decoration: none;
    color: #7c6259;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 20px;
    margin: auto;
}
.contato a:hover {
    text-decoration: underline;
    color: #6d564e;
}

div p {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 5px;
    margin-left: -15px;
}

