@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(imagens/wallpaper006.jpg);
}
:root {
    --cor01 : #393E46;
    --cor02 : #6D9886;
    --cor03 : #354d43;
    --cor04 : #F2E7D5;
    --cor05 : #F7F7F7;
}
nav {
    background-color: var(--cor01);
    padding-top: 10px;
    padding: 10px;
    font-size: large;
    font-weight: 200;
    text-align: right;
    margin: auto;
    margin-bottom: 20px;
    min-width: 200px;    
}
.logo {
    display: block;
    text-align: left;
    margin-left: 10px;
    margin-top: -20px;
    height: 35px;
    width: 35px;
}
nav a { 
    font-weight: 800;
    margin-right: auto;
    padding: 10px;
    text-decoration: none;
    color: var(--cor02);
    transition-duration: 0.3s;
}
nav a:visited {
    color: var(--cor02);
}
nav a:hover {
    padding-bottom: 25px;
    color: var(--cor03);
    transition-duration: 0.2s;
}
p {
    text-align: justify;
    text-indent: 30px;
}
.titulo-principal {
    text-align: center;
    color: var(--cor02);
    border-top-left-radius: 20px;
    background-color: var(--cor01);
    width: auto;
    padding: 10px;
    margin-bottom: 20px;
}
h1 {
    margin-top: 20px;
    text-align: center;
    padding-bottom: 15px;
}

.links p{
    text-align: center;
    font-size: 1.2em;
    padding: 12px;
    margin-right: 25px;
    font-weight: 600;
}
.links a:visited {
    color: var(--cor01);
}
.links a:hover {
    color: var(--cor02);
    transition-duration: 0.4s;
}
.links a{
    text-decoration: none;
    color: var(--cor01);
    font-weight: 400;
    transition-duration: 0.3s;
}
main {
    background-color: var(--cor05);
    width: 50%;
    max-width: 670px;
    min-width: 400px;
    margin: auto;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.253);
}
.foto {
    display: block;
    margin: auto;
    text-align: center;
    width: 150px;
    border-radius: 20px;    
}
main p {
    padding: 0 20px 20px 20px;
    color: #241d1b;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.7;
}
footer {
    background-color: var(--cor01);
    margin-top: 720px;
}
footer p {
    padding: 5px 0 5px 0;
    text-align: center;
    color: var(--cor05);
    background-color: var(--cor01);
}

div .insta {
    margin-left: auto;
}
.contato {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
}
div img{
    width: 20px;
    height: 20px;
    padding-left: 5px;
    display: inline;
    text-align: center;
}
.voltar-topo a{
    color: var(--cor02);
}
.voltar-topo {
    text-align: right;
    margin: auto;
    margin-top: -45px;
    padding-right: 10px;
}
strong {
    font-weight: 900;
    color: var(--cor02);
}

